$primary: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
$paleBlue: hsl(243, 100%, 93%);
$grayishBlue: hsl(229, 7%, 55%);
$darkBlue: hsl(228, 56%, 26%);
$veryDark: hsl(229, 57%, 11%);
$tamañoFuenteBody: 14px;
$fuente: "Raleway", sans-serif;

html {
  box-sizing: border-box;
  // font-size: px;
}
*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $veryDark;
  background-image: url("../img/bg-desktop.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom;
  background-size: 100% 52%;
  font-family: $fuente;
  color: $paleBlue;

  display: flex;
  margin: 0;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-content {
  width: 925px;
  min-width: 900px;
  height: 220px;
  min-height: 210px;
  // border: 1px solid red;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.one-flexContent {
  background-color: $darkBlue;

  width: 350px;
  height: 202px;
  margin: 0;
  margin-right: 30px;
  display: flex;
  flex-direction: column;

  border-radius: 10px 100px 10px 10px;
  h1 {
    // border: 1px solid red;
    margin: 38px 0px 0px 35px;
    padding: 0;
  }
  ul {
    margin: 25px 0px 0px 35px;
    // margin-top: 0;
    display: flex;
    list-style: none;
    padding: 0;
    // border: 1px solid red;
  }
  li {
    background-color: $veryDark;
    width: 48px;
    height: 48px;
    border: 1px solid $veryDark;
    margin-right: 15px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.two-flexContent {
  background-color: $darkBlue;
  width: 539px;
  height: 150px;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
}

footer {
  position: relative;
  top: 150px;
  // border: 1px solid green;
  a {
    text-decoration: none;
    color: $grayishBlue;
    margin-right: 5px;
    transition: 300ms all;
  }
  a:hover {
    text-decoration: underline;
  }
}
